<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            <div class="footer-column company-info">
                <h1>{{ site.title }}</h1>
                <div class="social-media">
                    <a> Follow us on instragram </a>
                    <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer">
                        <img id="instagram-icon" src="{{ site.baseurl }}/assets/images/social/instagram.png" alt="Instagram" class="instagram-icon" style="height: 24px;">
                    </a>
                </div>
            </div>

            <div class="footer-column description">
                <p style="font-size: 14px; line-height: 1.5; text-align: justify;">
                    {{ site.description }}
                </p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <h6>&copy; <span id="current-year"></span> Layer Architecture Inc. All Rights Reserved</h6>
    </div>
</footer>

<script>
    // Set the current year in the footer
    document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
