/* Dark Mode Styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .site-header {
    background-color: #222222;
    box-shadow: none;
}

body.dark-mode .site-footer {
    background-color: #222222;
    box-shadow: none;
}

body.dark-mode .service-box {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #626262;
}

body.dark-mode .service-box a {
    color: #79b8ff; /* A bright yellow for better contrast */
}

body.dark-mode .service-box a:hover {
    color: #ffffff; /* Slightly darker hover color */
    text-decoration: underline;
}

body.dark-mode .site-nav a {
    color: #ffffff;
}

body.dark-mode .hamburger {
    background-color: #ffffff;
}