/* Mobile-specific Styles for the Services Grid and Hamburger Menu */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .site-nav {
        font-weight: bold;
        text-align: center;
        border: 0px;
    }

    .wrapper {
        padding: 10px; /* Adjust padding as necessary */
    }

    /* Hamburger menu button */
    .nav-toggle {
        display: block; /* Show on mobile */
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 30px; /* Adjust for your header height */
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust according to your header height */
        right: 10px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: auto; 
        max-width: calc(100px + 20px);
        line-height: 40px; /* Adjust line-height for mobile */
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
    }

    .nav-list li {
        margin-right: 10px; /* Remove margin from all items on mobile */
        margin-left: 10px;
    }

    .nav-list li:last-child {
        margin-right: 10px; /* Remove margin from last item */
        margin-left: 10px;
    }

    .hamburger {
        width: 25px;
        height: 2px;
        background-color: #333;
        display: block;
        position: relative;
    }

    /* Top and bottom lines of the hamburger */
    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #333;
        display: block;
    }

    .hamburger::before {
        top: -7px;
    }

    .hamburger::after {
        top: 7px;
    }

    /* Dark mode for hamburger menu list items */
    body.dark-mode .nav-list li {
        color: #333; /* Change text color in dark mode */
    }

    body.dark-mode .nav-list {
        background-color: #333;
    }

    /* Dark mode for the hamburger icon */
    body.dark-mode .hamburger {
        background-color: #ffffff;
    }
    
    body.dark-mode .hamburger::before {
        background-color: #ffffff;
    }

    body.dark-mode .hamburger::after {
        background-color: #ffffff;
    }

}
