.page-post {
  .post-heading {
    h1 {
      padding-top: 60px;
      font-size: 36px;
      letter-spacing: -2px;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        font-size: 48px;;
      }
    }
  .heading-heading h1 {
    font-size: 36px;
    @include media-breakpoint-up(md) {
      font-size: 48px;;
    }
  }
  }
  .categories {
    .category-link {
      display: inline-block;
    a {
        font-size: 15px;
        background: var(--color-base-bg-2);
        color: var(--color-base-text);
        display: inline-flex;
        font-family: $font-family-monospace;
        padding: 6px 12px;
        border-radius: $card-border-radius;
        margin-right: 10px;
        &:hover {
          text-decoration: none;
          background: var(--color-base-bg-3);
        }
      }
    }
  }
}
