<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    {%- include head.html -%}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const navToggle = document.querySelector('.nav-toggle');
        const navList = document.querySelector('.nav-list');
    
        navToggle.addEventListener('click', function() {
          const isExpanded = navToggle.getAttribute('aria-expanded') === 'true';
          navToggle.setAttribute('aria-expanded', !isExpanded);
          navList.classList.toggle('active'); /* Toggle the "active" class to show/hide the menu */
        });
      });
    </script>
    

  </body>

</html>
