<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    {%- include head.html -%}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Navigation Toggle Script -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const navToggle = document.querySelector('.nav-toggle');
        const navList = document.querySelector('.nav-list');

        // Function to toggle the menu
        navToggle.addEventListener('click', function() {
          const isExpanded = navToggle.getAttribute('aria-expanded') === 'true';
          navToggle.setAttribute('aria-expanded', !isExpanded);
          navList.classList.toggle('active'); /* Toggle the "active" class to show/hide the menu */
        });

        // Hide the dropdown when scrolling
        window.addEventListener('scroll', function() {
          if (navList.classList.contains('active')) {
            navList.classList.remove('active'); // Hide the dropdown
            navToggle.setAttribute('aria-expanded', 'false'); // Update aria attribute
          }
        });
      });
    </script>

    <!-- Dark Mode Toggle Script -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const darkModeToggle = document.getElementById("dark-mode-toggle");
        const logo = document.querySelector(".site-header img");
        const header = document.querySelector(".site-header");
        const navLinks = document.querySelectorAll(".site-nav a");
        const hamburger = document.querySelector(".hamburger");
        const serviceBoxes = document.querySelectorAll(".service-box");
        const darkModeIcon = document.getElementById("dark-mode-icon");

        // Check local storage for dark mode preference
        if (localStorage.getItem('darkMode') === 'enabled') {
          document.body.classList.add("dark-mode");
          logo.src = "{{ '/assets/images/logo/logo-inverted.png' | relative_url }}";
          darkModeIcon.src = "{{ '/assets/images/icons/dark-mode-inverted.png' | relative_url }}";
        }

        // Event listener to handle toggle
        darkModeToggle.addEventListener("click", function(event) {
          event.preventDefault(); // Prevent the default anchor behavior

          // Toggle dark mode on body
          document.body.classList.toggle("dark-mode");

          // Change logo
          if (document.body.classList.contains("dark-mode")) {
            logo.src = "{{ '/assets/images/logo/logo-inverted.png' | relative_url }}";
            darkModeIcon.src = "{{ '/assets/images/icons/dark-mode-inverted.png' | relative_url }}";
            localStorage.setItem('darkMode', 'enabled'); // Store preference
          } else {
            logo.src = "{{ '/assets/images/logo/logo.png' | relative_url }}";
            darkModeIcon.src = "{{ '/assets/images/icons/dark-mode2.png' | relative_url }}";
            localStorage.setItem('darkMode', 'disabled'); // Store preference
          }
        });
      });
    </script>

  </body>

</html>
