---
layout: default
body_classes: page-home
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/heading.html
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>

{% assign cards = site.projects | sort: 'date' | reverse %}
{% assign limit = page.projects.limit | default: 3 %}
{% assign sort_by = page.projects.sort | default: 'date' %}
{% assign columns =  page.projects.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row">

      {% capture formatted_heading %}
        <underline>FEATURED PROJECTS</underline>
      {% endcapture %}

      {% include framework/grid-header.html 
        heading=formatted_heading
        sub_heading=page.projects.sub_heading 
      %}

      {% for card in cards limit: limit %}
      <div
        class="col-12 col-md-6 {{ columns }} mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
          title=card.title
          description=card.description
          thumbnail=card.thumbnail
          categories=card.categories
          date=card.date
          url=card.url
          client=card.client
          program=card.program
          type=card.type
        %}
      </div>
      {% endfor %}

      {% include framework/grid-footer.html 
        view_more_button_text=page.projects.view_more_button_text
        view_more_button_link=page.projects.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}

    </div>
  </div>
</div>
{% endif %}

<!-- {% assign cards = site.services | sort: 'weight' | reverse %}
{% assign limit = page.services.limit | default: 999 %}
{% assign sort_by = page.services.sort | default: 'date' %}
{% assign columns =  page.services.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = site.services | sort: 'weight' %}
{% endif %}

<div class="section pt-0">
  <div class="container">
    <div class="row">

      {% capture formatted_heading %}
        <underline>{{ page.services.heading }}</underline>
      {% endcapture %}

      {% include framework/grid-header.html 
        heading=formatted_heading
        sub_heading=page.services.sub_heading 
      %}
      
      {% for card in cards limit: limit %}
      <div
        class="col-12 col-md-4 col-sm-6 {{ columns }} {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-service.html
          title=card.title
          description=card.description
          url=card.url
        %}
      </div>
      {% endfor %}
        
      {% include framework/grid-footer.html 
        view_more_button_text=page.services.view_more_button_text
        view_more_button_link=page.services.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}

      </div>
    </div>
  </div>
</div> -->

{% assign cards = site.services | sort: 'date' | reverse %}
{% assign limit = page.services.limit | default: 3 %}
{% assign sort_by = page.services.sort | default: 'date' %}
{% assign columns =  page.services.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% if cards.size > 0 %}
<div class="section section-base-bg-2">
  <div class="container">
    <div class="row">

      {% capture formatted_heading %}
        <underline>{{ page.services.heading }}</underline>
      {% endcapture %}

      {% include framework/grid-header.html 
        heading=formatted_heading
        sub_heading=page.services.sub_heading 
      %}

      {% for card in cards limit: limit %}
      <div class="col-12 col-md-4 {{ columns }} {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %}">
        {% include theme/cards/card-service.html
          title=card.title
          icon=card.icon
          description=card.description
          url=card.url
        %}
      </div>
      {% endfor %}

      {% include framework/grid-footer.html 
        view_more_button_text=page.services.view_more_button_text
        view_more_button_link=page.services.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}
    </div>
  </div>
</div>
{% endif %}

{% if site.newsletter.mailchimp.form_action_url and site.newsletter.mailchimp.form_action_url != '' %}
  <div class="section section-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
        {% include framework/subscribe.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
