---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: 6 %}

<div class="section">
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        {% if page.title %}
        <div class="project-heading">
          <h1>{{ page.title }}</h1>
        </div>
      {% endif %}
      </div>
    </div>
    
    <div class="row">

      <div class="col-12 col-md-6 mb-4">

        <!-- {% if page.title %}
          <div class="project-heading">
            <h1>{{ page.title }}</h1>
          </div>
        {% endif %} -->

        {% if page.client or page.location or page.program or page.type %}
        <div class="project-sub-heading">
          <strong>PROJECT DATA</strong>
        </div>
        {% endif %}       

        {% if page.program %}
          <div class="project-program">
            <strong>Program </strong><span>{{ page.program | join: '/' }}</span>
          </div>
        {% endif %}

        {% if page.type %}
        <div class="project-type">
          <strong>Type </strong><span>{{ page.type }}</span>
        </div>
        {% endif %}

        {% if page.client %}
          <div class="project-client">
            <strong>Client </strong><span>{{ page.client }}</span>
          </div>
        {% endif %}

        {% if page.location %}
        <div class="project-location">
          <strong>Location </strong><span>{{ page.location }}</span>
        </div>
        {% endif %}

        <!-- {% if page.role or page.phases %}
        <div class="project-sub-heading">
          <strong>SERVICES</strong>
        </div>
        {% endif %} -->

        <!-- {% if page.role %}
          <div class="project-role">
            <strong>Role </strong><span>{{ page.role }}</span>
          </div>
        {% endif %} -->

        <!-- {% if page.phases %}
        <div class="project-phases">
          <strong>Phases </strong><span>{{ page.phases }}</span>
        </div>
        {% endif %} -->

        <!-- {% if page.storeys or page.area %}
        <div class="project-sub-heading">
          <strong>SIZE</strong>
        </div>
        {% endif %} -->

        {% if page.storeys %}
          <div class="project-storeys">
            <strong>Storeys </strong><span>{{ page.storeys }}</span>
          </div>
        {% endif %}

        {% if page.area %}
        <div class="project-area">
          <strong>Area </strong><span>{{ page.area }}</span>
        </div>
        {% endif %}

        <!-- {% if page.construction-duration or page.budget or page.delivery-method %}
        <div class="project-sub-heading">
          <strong>CONSTRUCTION</strong>
        </div>
        {% endif %} -->

        {% if page.budget %}
        <div class="project-budget">
          <strong>Budget </strong><span>{{ page.budget }}</span>
        </div>
        {% endif %}

        {% if page.status %}
        <div class="project-status">
          <strong>Status </strong><span>{{ page.status }}</span>
        </div>
        {% endif %}

        <!-- {% if page.construction-duration %}
        <div class="construction-duration">
          <strong>Construction </strong><span>{{ page.construction-duration }}</span>
        </div>
        {% endif %} -->

        <!-- {% if page.area %}
        <div class="delivery-method">
          <strong>Delivery </strong><span>{{ page.delivery-method }}</span>
        </div>
        {% endif %} -->

      </div>
      <div class="col-12 col-md-6 mb-4">
        {% if page.description %}
        <div class="content" id="project-description" style="margin-bottom: 20px; line-height: 1.56;">
          {{ page.description }}</div>
        <details id="project-details">
          <summary class="content" style="padding-top: 0;" onclick="document.getElementById('main-content').style.display='block'; 
                            document.getElementById('project-description').style.display='none';
                            this.style.display='none';">
          Read more
          </summary>
        </details>
        <div id="main-content" style="display: none;">
          <div class="content">{{ content }}</div>
        </div>
        {% else %}
        <div id="main-content">
          <div class="content">{{ content }}</div>
        </div>
        {% endif %}
      </div>
    </div>

    {% if page.banner_image %}
    <div class="row">
      <div class="col-12">
        <div class="banner-image">
          <img src="{{ page.banner_image | relative_url }}" alt="{{ page.title }} banner">
          {% if page.banner_caption %}
            <div class="banner-caption">{{ page.banner_caption }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col">
        <div class="gallery gallery-masonry">
          {% for item in page.gallery limit: limit %}
            <div class="gallery-item">
              <div class="gallery-image"><img src="{{ item.image | relative_url }}"/></div>
              {% if item.caption %}
              <div class="gallery-caption">{{ item.caption }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
  var grid = document.querySelector('.gallery');
  var msnry;

  imagesLoaded( grid, function() {
    msnry = new Masonry( grid, {
      itemSelector: '.gallery-item',
      percentPosition: true,
    });
  });
</script>