---
layout: default
body_classes: page-projects
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/heading.html
          title=page.title
          description=page.description
        %}
      </div>
    </div>
  </div>
</div>



<!-- Filters Section -->
<div class="container">
  <div class="filter-row">
    <div class="row mb-1">
      <label>Type Filter</label>
    </div>
    <div class="row mb-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn active" data-filter="type" data-value="">All Types</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="type" data-value="new construction">New Build</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="type" data-value="interior renovation">Interior</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="type" data-value="addition">Addition</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="type" data-value="adaptive reuse">Adaptive Reuse</button>
      </div>
    </div>
  </div>
  <!-- Program Filter -->
  <div class="filter-row">
    <div class="row mb-1">
      <label>Program Filter</label>  
    </div>  
    <div class="row mb-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn active" data-filter="program" data-value="">All Uses</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="residential">Residential</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="office">Office</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="retail">Retail</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="restaurant/bar">Restaurant/Bar</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="mixed use">Mixed Use</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="museum/gallery">Museum/Gallery</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="leisure">Leisure</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="parking">Parking</button>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-pill filter-btn" data-filter="program" data-value="pavillion">Pavillion</button>
      </div>
    </div>
  </div>
</div>

{% assign cards = site.projects | sort: 'project-number' | reverse %}
{% assign limit = page.projects.limit | default: 999 %}
{% assign sort_by = page.projects.sort | default: 'date' %}
{% assign columns =  page.projects.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = site.projects | sort: 'weight' %}
{% endif %}
{% if sort_by == 'project-number' %}
  {% assign cards = site.projects | sort: 'project-number' | reverse %}
{% endif %}

{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    {% include framework/grid-header.html 
      heading=page.projects.heading 
      sub_heading=page.projects.sub_heading 
    %}
    <div class="row">
      {% for card in cards limit: limit %}
      <div class="col-12 col-md-6 {{ columns }} mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0 card-container" program="{{ card.program | join: '/' }}" type="{{ card.type }}">
        {% include theme/cards/card-project.html
          title=card.title
          description=card.description
          thumbnail=card.thumbnail
          categories=card.categories
          date=card.date
          url=card.url
          client=card.client
          program=card.program
          type=card.type
          occupancy=card.occupancy
        %}
      </div>
      {% endfor %}

      {% include framework/grid-footer.html 
        view_more_button_text=page.projects.view_more_button_text
        view_more_button_link=page.projects.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}

    </div>
  </div>
</div>
{% endif %}

<!-- JavaScript for Filtering -->
<script src="{{ '/assets/js/projects.js' | relative_url }}"></script>

